VisualElement {}
.minimap-container {
    position: absolute;
    bottom: 10px; /* Spacing from bottom */
    right: 10px; /* Spacing from right */
    width: 400px; /* Width of the minimap */
    height: 400px; /* Height of the minimap */
}

#minimapView {
    width: 100%;
    height: 100%;
    background-color: clear; /* Optional, if you want a background color */
}